// Цвета 'Элементы и тексты'
$mainTextColor: #222222;
$descriptorColor: #767676;
$iconColor: #A7A7A7;
$strokeColor: #D8D8D8;

// Цвета 'Бэкграунды'
$whiteOnGrayColor: #ffffff;
$grayOnWhite: #f1f1f1;
$elementUnderlayColor: #e6e6e6;

// Цвета 'Действия, конверсия'
$activeAndConversionColor: #0656B4;
$secondLevelButton: #DFE9F5;
$bannerHighlighted: #ABC8EA;

//Цвета 'Метки'
$errorAndFavoritesColor: #FF0000;
$commentColor: #EFD967;

//Шрифт
$mainFontFamily: 'Open Sans', sans-serif;