// Цвета 'Элементы и тексты'
$mainTextColor: #222222;
$descriptorColor: #767676;
$iconColor: #a7a7a7;
$strokeColor: #d8d8d8;

// Цвета 'Бэкграунды'
$whiteOnGrayColor: #ffffff;
$grayOnWhite: #f1f1f1;
$elementUnderlayColor: #e6e6e6;

// Цвета 'Действия, конверсия'
$activeAndConversionColor: #0656b4;
$secondLevelButton: #dfe9f5;
$bannerHighlighted: #abc8ea;

//Цвета 'Метки'
$errorAndFavoritesColor: #ff0000;
$commentColor: #efd967;

//Шрифт
$mainFontFamily: 'Open Sans', sans-serif;